%YAML 1.1
---

collector:
  ipfile: ./doc/iplist.sample
  parallel: 4
  community: [ public, community2 ]
  expire: 1
  fdbexpire: 24
  arpexpire: 24
database:
  username: wiremaps
  password: wiremaps
  database: wiremaps
web:
  logo: /etc/wiremaps/yourlogo.png
