%YAML 1.1
---

collector:
  ips: [192.168.14.0/24, 192.168.15.0/24@special]
  parallel: 4
  community: [ public, community2 ]
  expire: 1
  fdbexpire: 24
  arpexpire: 24
database:
  host: localhost
  username: wiremaps
  password: wiremaps
  database: wiremaps
web:
  logo: /etc/wiremaps/yourlogo.png
