body
{
    background-color: #efd7ca;
}

small
{
    font-size: 80%;
}

/* Informational message */

div#message
{
    position: fixed;
    top: -1px;
    left: 200px;
    right: 200px;
    z-index: 5000;
    opacity: 0.80;
}

div#message div
{
    width: 400px;
    margin: 0px auto;
    height: 24px;
    min-height: 24px;
    padding: 8px 10px 8px 46px;
}

div#message div.msginfo
{
    background: url(info.png) 6px 3px no-repeat;
    background-color: #3DB4EC;
    border: 1px solid #2587B5;
}

div#message div.msgalert
{
    background: url(error.png) 6px 3px no-repeat;
    background-color: #EF9398;
    border: 1px solid #DC5757;
}

div#message div.msgok
{
    background: url(ok.png) 6px 3px no-repeat;
    background-color: #A6EF7B;
    border: 1px solid #76C83F;
}

/* Logo */

div#logo
{
    margin: 2px 12px;
    float: left;
}

/* Time machine */
div#timemachine
{
    margin-top: -14px;
    background: #FFF;
    border: 1px solid #666;
    float: left;
    padding: 1em;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    vertical-align: middle;
}
div#timemachine img
{
    border: 0px;
    vertical-align: middle;
}
div#timemachine form input
{
    margin-left: 1em;
    margin-right: 0.5em;
    vertical-align: middle;
    display: none;
}

/* Search */
div#search
{
    float: right;
    text-align: right;
    visibility: hidden;
}
div#searchresults
{
    clear: both;
    margin-top: 3em;
    margin-left: 3em;
    padding: 1ex;
    background-color: #f9a97d;
    border: 1px solid #f1722c;
    display: none;
}
div#searchactions, div#vlanactions, div.tooltipactions
{
    font-size: x-small;
    text-align: right;
    float: right;
}

.ac_results
{
    padding: 0px;
    border: 1px solid WindowFrame;
    border-left: 3px solid InfoBackground;
    background-color: Window;
    overflow: hidden;
}

.ac_results ul
{
    width: 100%;
    list-style-position: outside;
    list-style: none;
    padding: 0;
    margin: 0;
}

.ac_results iframe
{
    display:none;/*sorry for IE5*/
    display/**/:block;/*sorry for IE5*/
    position:absolute;
    top:0;
    left:0;
    z-index:-1;
    filter:mask();
    width:3000px;
    height:3000px;
}

.ac_results li
{
    margin: 0px;
    padding: 2px 5px;
    cursor: pointer;
    display: block;
    width: 100%;
    font: menu;
    font-size: 12px;
    overflow: hidden;
}

.ac_loading
{
    background : Window url('loading.gif') right center no-repeat;
}

.ac_over
{
    background-color: Highlight;
    color: HighlightText;
}

/* Global application */

div#application
{
    clear: both;
    background-color: white;
    padding: 5px;
    margin-top: 1em;
    border: 1px dotted #dd9f7e;
    visibility: hidden;
}
.data
{
    font-stretch: semi-condensed;
    font-weight: bold;
    font-family: monospace;
}
.error
{ 
    color: red;
    font-weight: bold;
}

/* Equipments */
div#equipments
{
    width: 98%;
}
div#equipments form select
{
    float: left;
    font-size: 120%;
    font-weight: bold;
}
div#actions
{
    font-size: x-small;
    text-align: right;
    float: right;
    visibility: hidden;
}
div#actions li, div#actions ul, div#searchactions li, div#searchactions ul, div#vlanactions li, div#vlanactions ul, div.tooltipactions li, div.tooltipactions ul
{
    display: inline;
}

/* Photo/picture */
div#photo
{
    clear: both;
    margin-top: 3em;
    margin-left: 5%;
    margin-right: 5%;
    padding: 5px;
    text-align:center;
    border-top-style: dashed;
    border-bottom-style: dashed;
    border-color: #dd9f7e;
    display: none;
}

div#description
{
    display: none;
    text-align: center;
    font-weight: bold;
    font-size: 110%;
}

/* Ports */
div#portscontainer
{
    overflow: auto;
}
table#ports
{ 
    margin-top: 1em;
    display: none;
}
table#ports td
{
    padding-right: 0.2em;
    padding-left: 0.1em;
}
table#ports td.column
{
    border-left: 1px solid #ccc;
}
table#ports thead th
{
    padding-right: 16px;
    font-size: 70%;
}
table#ports thead tr.category th
{
    text-align: center;
    padding-left: 0.5em;
}
table#ports tbody tr:hover, table#ports tbody tr.odd:hover
{
    background-color: #ace8f3;
}
table#ports tbody tr.odd
{
    background-color: #ccc;
}
table#ports tbody
{
    font-size: 80%;
}
table#ports .name
{
    font-weight: bold;
}
table#ports .description
{
    font-style: oblique;
}
table#ports thead
{
    background-color: #888;
}
table#ports thead tr .header
{
	background-image: url(sort.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
	padding-top: 1ex;
	padding-bottom: 1ex;
}
table#ports thead tr .headerSortUp
{
    background-image: url(sort_asc.gif);
}
table#ports thead tr .headerSortDown
{
    background-image: url(sort_desc.gif);
}
table#ports thead tr .headerSortDown, table#ports thead tr .headerSortUp
{
    background-color: #8dbdd8;
}
table#ports td.loading
{
    background: url(loading.gif) center center no-repeat;
}
table#ports td.loading img
{
    visibility: hidden;
}
table#ports span.sortable
{
    display: none;
}
div#colswitch1
{
    position: relative;
    bottom: 0; left: 0;
    margin: 0; padding: 0;
    display: none;
}
div#colswitch2
{
    position: absolute;
    top: -2em;
    left: -1em;
    width: 20em;
    margin: 0; padding: 0;
}
div#colswitch2 > img
{
    float: left;
}
div#colsdisp
{
    background-color: #e1c851;
    border: 1px solid black;
    margin-left: 50px;
    display: none;
}
div#colsdisp ul li
{
    list-style: none;
}

/* Vlan */
table.vlan, table.mac
{
    margin: 1ex auto;
    border: 2px;
    text-align: center;
}
table.vlan td, table.mac td
{
    padding-left: 1em;
    padding-right: 1em;
}
table.vlan thead td, table.mac thead td
{
    font-weight: bold;
    background-color: #ccc;
}
table.vlan tbody tr td.notpresent, table.mac tbody tr td.notpresent
{
    background-color: #EF9398;
}
table.vlan tr td a
{
    font-weight: bold;
    text-decoration: none;
}
div#infovlans
{
    display: none;
    margin-top: 1em;
    padding: 0.5em;
    text-align: center;
    background-color: #efd7ca;
    border: 1px solid #f1722c;
}
div#infovlans table
{
    margin-left: auto;
    margin-right: auto;
}

/* MAC table */
table.mac tbody
{
    font-size: 80%;
}

/* Common MAC and VLAN */
table.vlan tr.odd td, table.mac tr.odd td
{
    background-color: #d6ffab;
}
table.vlan tr.even td, table.mac tr.even td
{
    background-color: #a6ef7b;
}

a.tt
{
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
}
a.tt + span.tooltip
{
    overflow: auto;
    z-index: 24;
    display: none;
    font-weight: normal;
    position: fixed;
    top: 10%;
    left: 50%;
    margin-left: -20em;
    width: 40em;
    max-height: 50ex;
    overflow: auto;
    padding: 2em;
    background: #fff;
    border: 1px solid #000;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    text-align: center;
    font-size: 120%;
}
